.cardComponent {
  display: flex;
  flex-direction: column;
  background-color: #BE2501;
  box-shadow: 10px 10px #911201;
  transition: all 0.3s ease;
  color: white;
  padding: 5px;
}

.tinyCard {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 135px;
  background-color: #BE2501;
  box-shadow: 5px 5px #911201;
  transition: all 0.3s ease;
}

.smallCard {
  width: 350px;
  height: 175px;
}

.largeCard {
  width: 500px;
  height: 300px;
  padding: 15px;
}

.cardProjectStyle {
  display: flex;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.cardIcons {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

.cardTitle, .cardPosition {
  padding: 5px;
  margin: 0;
}

.cardDescription {
  padding: 5px;
  font-size: 14px;
  margin: 0;
}

.cardDate {
  display: flex;
  justify-content: flex-end;
}

.cardLink {
  padding: 5px;
  font-size: 13px;
}

.cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 90%;
  background-color: #F07601;
  margin: 7px;
}

.shrinkIcon {
  height: 35px;
  width: 35px;
}

.allCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
}
